* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	line-height: 1.6;
}
a {
	text-decoration: none;
	color: #2c3e50;
}

/* Navigation styling */
.main-header {
	padding: 10px 0;
	text-align: center;
}

.header {
	font-size: 1.6em;
	margin-top: 1.5rem;
	padding-bottom: 10px;
	font-weight: 900;
}

.main-nav a {
	padding: 1em;
	font-size: 1.1em;
	display: block;
	color: #27ae60;
}

.main-nav {
	background-color: #2c3e50;
	border-radius: 0 0 5px 5px;
}

/* Main content styling */
.content-container {
	margin-top: -3%;
}
.content1 {
	background-image: url("../assets/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg");
	height: 500px;
	background-color: #cccccc;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.section1-text {
	position: absolute;
	color: #2c3e50;
	width: 80%;
	background-color: rgba(236, 240, 241, 0.7);
	margin: 2rem 0 0 1.5rem;
	padding: 1rem;
	border-radius: 5%;
	border: 5px solid #95a5a6;
}
.content-headers {
	font-size: 1.2rem;
	font-weight: 700;
}

.content-text {
	margin-top: 0.5rem;
}

/* .clearfix::after {
	content: "";
	clear: both;
	display: table;
} */
